@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Nanum+Myeongjo&display=swap');

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    background-color: #faedcd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bodoni Moda', serif;
    background-color: #faedcd;
    
}

a{
    color: black;
}
